apex==0.9.10.dev0
bitarray==2.8.5
boto3==1.34.2
botocore==1.34.2
deepspeed==0.14.2
fairscale==0.4.0
funasr==1.1.14
huggingface_hub==0.24.6
iopath==0.1.10
librosa==0.10.2
matplotlib==3.7.5
nltk==3.8.1
numpy==1.24.1
numpy==1.24.4
omegaconf==2.0.6
psutil==5.9.6
pyarrow==12.0.0
pydub==0.25.1
pytorch_lightning==2.1.0
PyYAML==6.0.1
regex==2023.10.3
sacrebleu==1.5.1
sentencepiece==0.1.99
setuptools==68.2.2
soundfile==0.12.1
spacy==3.7.6
tensorboardX==2.6
torch==2.1.0
torchaudio==2.1.0+cu121
tqdm==4.66.1
transformers==4.44.2
wandb==0.16.1
